<head>
    <link href="../careChat.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani">
    <title>Customer Care Login</title>
    <link rel="icon" href="../favcon.png">
</head>

<body>
    <div id="activeBar">
        <img src="../BackLogo.png" id="back" onclick="backCC()">
        <div id="topBarLeft">Active People</div>
        <div id="peopleList">
            <div class="people">CustomerCare 1</div>
            <div class="people">CustomerCare 2</div>
            <div class="people">CustomerCare 3</div>
            <div class="people">CustomerCare 4</div>
            <div class="people">CustomerCare 5</div>
        </div>
    </div>
    <div id="base">
        <div id="topBar">Citizen Name</div>
        <div id="chatContent">
            <div class="text CustomerCare"><i>Customer Care Name: </i>Loren Ipsum</div>
            <div class="text User"><i>You: </i>f type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desk</div>
            <div class="text CustomerCare"><i>Customer Care Name: </i>Loren Ipsum</div>
            <div class="text User"><i>You: </i>has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cite</div>
            <div class="text CustomerCare"><i>Customer Care Name: </i>Loren Ipsum</div>
            <div class="text User"><i>You: </i>f type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desk</div>
            <div class="text CustomerCare"><i>Customer Care Name: </i>Loren Ipsum</div>
            <div class="text User"><i>You: </i>has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cite</div>
            <div class="text CustomerCare"><i>Customer Care Name: </i>is book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes um</div>
            <div class="text CustomerCare"><i>Customer Care Name: </i>is book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes um</div>
        </div>
        <div id="botBar">
            <input type="hidden" id="citizen_id" value="">
            <input id="messageText" type="text" style="font-family: 'Rajdhani'">
            <button id="send" onclick="sendMsg()" style="font-family: 'Rajdhani'">
                Send
            </button>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <script src="../careChat.js"></script>
</body>