<head>
    <link href="./citReg.css" rel="stylesheet" type="text/css"/>
    <script src="./citReg.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani">
    <title>Citizen Register</title>
    <link rel="icon" href="./favcon.png">
</head>

<body>
    <img src="./BackLogo.png" id="back" onclick="back()">
    <div id="base">
        <form>
            <label for="firstname" id="tfirstname">First Name</label><br>
            <input type="text" id="ffirstname" name="firstname"><br>
            <label for="lastname" id="tlastname">Last Name</label><br>
            <input type="text" id="flastname" name="lastname"><br>
            <label for="email" id="temail">Email</label><br>
            <input type="text" id="femail" name="email">
            <label for="username" id="tusername">Username</label><br>
            <input type="text" id="fusername" name="username">
            <label for="password" id="tpassword">Password</label><br>
            <input type="password" id="fpassword" name="password">
            <label for="block" id="tblock">Block</label><br>
            <input type="text" id="fblock" name="block"><br>
            <label for="street" id="tstreet">Street</label><br>
            <input type="text" id="fstreet" name="street">
            <label for="house" id="thouse">House</label><br>
            <input type="text" id="fhouse" name="house"> 
            <label for="phoneNumber" id="tphoneNumber">Phone</label><br>
            <input type="text" id="fphoneNumber" name="phoneNumber">
          </form>
          <div id="botBar">
            <div id="notInService">
                Not in our service?
            </div>
            <button id="register" onclick="showData()" style="font-family: 'Rajdhani'">
                Register
            </button>
        </div>
    </div>
</body>