<head>
    <link href="../RequestList.css" rel="stylesheet" type="text/css"/>
    <script src="../empHistory.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani">
    <title>Request List</title>
    <link rel="icon" href="../favcon.png">
    <meta http-equiv="refresh" content="30">
</head>

<body>
    <div id="base">
        <div id="topBar" >
            <div id="readyToHelp">History of employee</div>
        </div>
        <div id="MainContent">
            <!--
            <div class="option">
                <div class="content">Citizen Name = ${CITIZEN_NAME}; Location = B#${BLOCK}, S#${STREET}, H#${HOUSE_NO}; Request Time = #${REQUEST_TIME}; <button>Details ${REQUEST_ID}</button></div>
            </div>
            -->
        </div>
        <button id="RequestList" onclick="RequestList()" style="font-family: 'Rajdhani'">RequestList</button>
    </div>
</body>

