<head>
    <link href="./empReg.css" rel="stylesheet" type="text/css"/>
    <script src="./empReg.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani">
    <title>Citizen Register</title>
    <link rel="icon" href="./favcon.png">
</head>

<body>
    <img src="./BackLogo.png" id="back" onclick="backER()">
    <div id="base">
        <select name="Shift" id="Shift" style="font-family: 'Rajdhani'">
            <option selected disabled>Shift</option>
            <option value="100">0800 to 1599 : Sun to Wed</option>
            <option value="101">1600 to 2399 : Sun to Wed</option>
            <option value="102">0000 to 0799 : Sun to Wed</option>
            <option value="200">0800 to 1599 : Thu to Sat</option>
            <option value="201">0000 to 0799 : Thu to Sat</option>
            <option value="202">0000 to 0799 : Thu to Sat</option>
        </select>
        <form>
            <label for="firstname" id="tfirstname">First Name</label><br>
            <input type="text" id="ffirstname" name="firstname"><br>
            <label for="lastname" id="tlastname">Last Name</label><br>
            <input type="text" id="flastname" name="lastname"><br>
            <label for="email" id="temail">Email</label><br>
            <input type="text" id="femail" name="email">
            <label for="username" id="tusername">Username</label><br>
            <input type="text" id="fusername" name="username">
            <label for="password" id="tpassword">Password</label><br>
            <input type="password" id="fpassword" name="password">
            <label for="block" id="tblock">Block</label><br>
            <input type="text" id="fblock" name="block"><br>
            <label for="street" id="tstreet">Street</label><br>
            <input type="text" id="fstreet" name="street">
            <label for="house" id="thouse">House</label><br>
            <input type="text" id="fhouse" name="house"> 
            <label for="phoneNumber" id="tphoneNumber">Phone</label><br>
            <input type="text" id="fphoneNumber" name="phoneNumber">
          </form>
        <select name="Service" id="Service" style="font-family: 'Rajdhani'" onchange="changeMessage()">
            <option selected disabled>Service</option>
            <option value="100">Medical</option>
            <option value="101">Fire</option>
            <option value="102">Police</option>
            <option value="103">Superhero</option>
            <option value="104">Customer-Care</option>
        </select>
        <select name="Department" id="Department" style="font-family: 'Rajdhani'" onchange="changeMessageDept()">
            <option selected disabled>Department</option>
        </select>
        <select name="Job" id="Job" style="font-family: 'Rajdhani'">
            <option selected disabled>Job</option>
        </select>
        <button id="register" onclick="empReg()" style="font-family: 'Rajdhani'">
            Register
        </button>
    </div>
</body>