<head>
    <link href="./index.css" rel="stylesheet" type="text/css"/>
    <script src="./index.js"></script>
</head>

<body>
    <div id="base">
        <div id="topBar">
            <div id="readyToHelp">
                Ready To Help?
            </div>
            <button id="employee" onclick="emp()">
                Employee
            </button>
            <button id="customerCare" onclick="care()">
                Customer-Care
            </button>
        </div>
        <div>
            <div id="loginText">24/7<br>Anywhere</div>
            <button id = "findHelp" onclick="loginCit()">Find Help <img src="./LoginLogo.png" id="LoginLogo"></button>
        </div>
        <div id="botBar">
            <div id="notInService">
                Not in our service?
            </div>
            <button id="register" onclick="registration()">
                Register
            </button>
        </div>
    </div>
</body>