<head>
    <link href="./index.css" rel="stylesheet" type="text/css"/>
    <script src="./index.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani">
    <title>911 Service</title>
    <link rel="icon" href="./favcon.png">
</head>

<body>
    <div id="base">
        <div id="topBar">
            <div id="readyToHelp">
                Ready To Help?
            </div>
            <button id="employee" onclick="emp()" style="font-family: 'Rajdhani'">
                Employee
            </button>
            <button id="customerCare" onclick="care()" style="font-family: 'Rajdhani'">
                Customer-Care
            </button>
        </div>
        <img src="./ServiceMadeEasy.png" id="motto">
        <div>
            <div id="loginText">24/7<br>Anywhere</div>
            <button id = "findHelp" onclick="loginCit()" style="font-family: 'Rajdhani'">Find Help <img src="./LoginLogo.png" id="LoginLogo"></button>
        </div>
        <div id="botBar">
            <div id="notInService">
                Not in our service?
            </div>
            <button id="register" onclick="registration()" style="font-family: 'Rajdhani'">
                Register
            </button>
        </div>
    </div>
</body>