<head>
    <link href="./index.css" rel="stylesheet" type="text/css"/>
    <script src="./index.js"></script>
</head>

<body>
    <div id="base">
        <div id="topBar">
            <div id="readyToHelp">
                Ready To Help?
            </div>
            <button id="employee">
                Employee
            </button>
            <button id="customerCare">
                Customer-Care
            </button>
        </div>
        <div id="botBar">
            <div id="notInService">
                Not in our service?
            </div>
            <button id="register" onclick="registration()">
                Register
            </button>
        </div>
    </div>
</body>