<head>
    <link href="../PendingRequest.css" rel="stylesheet" type="text/css"/>
    <script src="../PendingRequest.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani">
    <title>Pending Request</title>
    <link rel="icon" href="../favcon.png">
    <meta http-equiv="refresh" content="30">
</head>

<body>
    <div id="base">
        <div id="topBar" >
            <div id="topText">Help is on the way</div>
        </div>
        <div id="Main Content">
            
        </div>
        <button id="RefreshButton" onclick="Refresh()" style="font-family: 'Rajdhani'">Refresh</button>
    </div>
    <button id="Logout" onclick="Logout()" style="font-family: 'Rajdhani'">Logout</button>
    <button id="Chat" onclick="Chat()" style="font-family: 'Rajdhani'">Customer Care</button>
</body>