<head>
    <link href="../selectService.css" rel="stylesheet" type="text/css"/>
    <script src="../selectService.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani">
    <title>Select Service</title>
    <link rel="icon" href="../favcon.png">
</head>

<body>
    <img src="../BackLogo.png" id="back" onclick="backS()">
    <div id="base">
        <div id="topBar"><div id ="ExtraText">"Select the amount of service you need"</div></div>
        <div id="gridCont">
            <form>
                <div class="selectGrid">
                    <div class="grid-item-left" id="1">
                        <input type="checkbox" id="Medicle" onchange="displayMedicle()">
                        <label> Medical</label><br>
                    </div>
                    <div class="grid-item-right" id="2"></div>
                    <div class="grid-item-left" id="3">
                        <input type="checkbox" id="Fire" onchange="displayFire()">
                        <label> Fire</label><br>
                    </div>
                    <div class="grid-item-right" id="4"></div>
                    <div class="grid-item-left" id="5">
                        <input type="checkbox" id="Law" onchange="displayLaw()">
                        <label> Law</label><br>
                    </div>
                    <div class="grid-item-right" id="6"></div>
                    <div class="grid-item-left" id="7">
                        <input type="checkbox" id="SuperHero" onchange="displaySuper()">
                        <label> SuperHero</label><br>
                    </div>
                    <div class="grid-item-right" id="8"></div>
                </div>
            </form>
        </div>
        <div id ="customerCare"><u>Can't seem to find your need? Talk with Customer-Care instead</u></div>
        <button id = "findHelp" onclick="confirmService()" style="font-family: 'Rajdhani'">Find Help<img src="../LoginLogo.png" id="LoginLogo"></button>
        <button id = "Logout" onclick="Logout()" style="font-family: 'Rajdhani'">Logout</button>
    </div>
</body>