body{
    background: linear-gradient(180deg, #FFB7B7 0%, #727272 100%), radial-gradient(60.91% 100% at 50% 0%, #FFD1D1 0%, #260000 100%), linear-gradient(238.72deg, #FFDDDD 0%, #720066 100%), linear-gradient(127.43deg, #00FFFF 0%, #FF4444 100%), radial-gradient(100.22% 100% at 70.57% 0%, #FF0000 0%, #00FFE0 100%), linear-gradient(127.43deg, #B7D500 0%, #3300FF 100%);
    background-blend-mode: screen, overlay, hard-light, color-burn, color-dodge, normal;
    position: relative;
    font-family: 'Rajdhani','Ropa Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#base{
    position: absolute;
    width: 1200px;
    height: 850px;
    left: 637px;
    top: 40px;

    background: linear-gradient(255.2deg, rgba(255, 0, 0, 0.53) 2.7%, rgba(0, 10, 255, 0.3) 97.71%);
    opacity: 0.8;
    border-radius: 64px;
}

#topBar{
    position: relative;
    width: 1100px;
    height: 100px;
    margin-top: 50px;
    margin-left: 50px;

    font-size: 40px;
    padding-left: 50px;

    /* background: linear-gradient(255.2deg, rgba(255, 255, 255, 0.73) 2.7%, rgba(255, 255, 255, 0) 97.72%); */
}
#chatContent{
    position: relative;
    width: 1100px;
    height: 450px;
    margin-top: 10px;
    margin-left: 50px;

    overflow: auto;

    /* background: linear-gradient(255.2deg, rgba(255, 255, 255, 0.73) 2.7%, rgba(255, 255, 255, 0) 97.72%); */

    display: flex;
    flex-direction: column-reverse;
}
#botBar{
    position: relative;
    width: 1100px;
    height: 100px;
    margin-top: 50px;
    margin-left: 50px;

    padding-left: 50px;

    /* background: linear-gradient(255.2deg, rgba(255, 255, 255, 0.73) 2.7%, rgba(255, 255, 255, 0) 97.72%); */
}

.text{
    position: relative;
    width: 1000px;
    height: auto;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 25px;

    
    opacity: 0.8;
    border-radius: 10px;
}

.user{
    background: rgba(0, 0, 0, 0.73);
    opacity: 0.8;
    text-align: left;
    color: #dfdfdf;
}

.customerCare{
    background: rgba(255, 255, 255, 0.73);
    opacity: 0.8;
    text-align: right;
}

#chatContent::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
#chatContent::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
#chatContent::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
}

#activeBar{
    position: absolute;
    width: 600px;
    height: 900px;
    background: linear-gradient(255.2deg, rgba(252, 249, 249, 0.329) 2.7%, rgba(255, 255, 255, 0) 97.72%);
    border-radius: 64px;
}

#topBarLeft{
    position: relative;
    width: 500px;
    height: auto;
    margin-top: 20px;
    margin-left: 50px;

    font-size: 30px;
    /* background: linear-gradient(255.2deg, rgba(255, 0, 0, 0.73) 2.7%, rgba(255, 255, 255, 0) 97.72%); */
}

#peopleList{
    position: relative;
    width: 500px;
    max-height: 800px;
    overflow: auto;
    margin-top: 10px;
    margin-left: 50px;

    font-size: 30px;
}

#back{
    position: relative;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-top: 50px;
    margin-left: 50px;
}

.people{
    cursor: pointer;
    position: relative;
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 50px;
    font-size: 25px;
    padding-left: 20px;

    background: linear-gradient(255.2deg, rgba(255, 255, 255, 0.014) 2.7%, rgba(255, 255, 255, 0.281) 97.72%);
    opacity: 0.8;
    border-radius: 10px;
}

#peopleList::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
#peopleList::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
#peopleList::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
}

input{
    position: relative;
    width: 60px;
    height: 30px;
    font-size: 30px;

    background: #C4C4C4;
}

#messageText{
    position: relative;
    width: 800px;
    height: 95px;
    font-size: 30px;

    background: #C4C4C4;
    border-radius: 20px;
}



#send{
    cursor: pointer;
    position: relative;
    width: 200px;
    height: 80px;
    margin-left: 20px;

    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #FFFFFF;
    line-height: 54px;

    background: rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

#Logout{
    cursor: pointer;
    position: relative;
    margin-top: 50px;
    width: 8em;
    height: 3em;
    margin-left: 50px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 36px;
}

#SendData{
    cursor: pointer;
    position: relative;
    margin-top: 50px;
    width: 8em;
    height: 3em;
    margin-left: 50px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 36px;
    font-size: 20px;
}

#help{
    cursor: pointer;
    position: absolute;
    margin-top: 50px;
    top: 5px;
    left: 283px;
    width: 8em;
    height: 3em;
    margin-left: 50px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 36px; 
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    position: absolute;
    z-index: 1; /* Sit on top */
    padding-top: 500px; /* Location of the box */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
}
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    font-size: 30px;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modal_text{
    font-size: 30px;
    margin-bottom: 30px;
}