body{
    background-color: #40b872f3;
    background-blend-mode: overlay, soft-light, difference, normal;
    position: relative;
    font-family: 'Rajdhani', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type = button] {
    font-family: 'Rajdhani';

}

#base{
    position: relative;
    width: 100rem;
    height: 50rem;
    left: 150px;
    top: 50px;

    background: linear-gradient(255.2deg, rgba(255, 255, 255, 0.73) 2.7%, rgba(255, 255, 255, 0) 97.72%);
    opacity: 0.8;
    border-radius: 64px;
}

#topBar{
    position: relative;
    width: 90em;
    height: 8em;
    left: 100px;
    top: 50px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 36px;
}

#readyToHelp{
    position: relative;
    width: 350px;
    height: 54px;
    left: 10px;
    top: 35px;

    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    /* identical to box height */

    text-align: right;

    color: #FFFFFF;
}

#employee{
    cursor: pointer;
    position: relative;
    width: 200px;
    height: 80px;
    left: 800px;
    top: -35px;

    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #FFFFFF;
    line-height: 54px;

    background: rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

#customerCare{
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 80px;
    left: 850px;
    top: -35px;

    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #FFFFFF;
    line-height: 54px;

    background: rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

#botBar{
    position: relative;
    width: 90em;
    height: 8em;
    left: 100px;
    top: 500px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 36px;
}

#notInService{
    position: relative;
    width: 400px;
    height: 54px;
    left: 10px;
    top: 35px;

    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    /* identical to box height */

    text-align: right;

    color: #FFFFFF;
}

#register{
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 80px;
    left: 26.5em;
    top: -35px;

    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #FFFFFF;
    line-height: 54px;

    background: rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

#findHelp{
    cursor: pointer;
    position: absolute;
    width: 400px;
    height: 100px;
    left: 1000px;
    top: 420px;

    background: linear-gradient(207.47deg, rgba(175, 214, 101, 0.49) 5.07%, #1E9430 97.74%);
    border-radius: 20px;

    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */


    color: #FFFFFF;

    mix-blend-mode: normal;
}

#LoginLogo{
    width: 35px;
    height: 35px;
}

#loginText{
    position: absolute;
    left: 1155px;
    top: 250px;

    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */


    color: #281616;
}

#motto{
    position: absolute;
    width: 425px;
    top: 246px;
    left: 222px;
}