body{
    background: linear-gradient(rgb(0, 3, 70) 0%, rgba(255, 160, 0, 1) 100%), linear-gradient(60deg, rgb(0, 5, 34) 0%, rgb(0, 255, 229) 100%), radial-gradient(100% 165% at 100% 100%, rgb(255, 0, 168) 0%, rgb(0, 255, 120) 100%), radial-gradient(100% 150% at 0% 0%, rgb(255, 245, 0) 0%, rgb(81, 213, 0) 100%);
    background-blend-mode: overlay, soft-light, difference, normal;
    position: relative;
    font-family: 'Rajdhani', 'Ropa Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#base{
    position: absolute;
    width: 100rem;
    height: 50rem;
    left: 150px;
    top: 50px;

    background: linear-gradient(255.2deg, rgba(255, 255, 255, 0.73) 2.7%, rgba(255, 255, 255, 0) 97.72%);
    opacity: 0.8;
    border-radius: 64px;
}

#gridCont{
    position: relative;
    top: 173px;

    color: gainsboro;
}

.selectGrid {
    display: grid;
    grid-template-columns: 780px auto;
    padding: 10px;
}

.grid-item-left{
  padding: 20px;
  font-size: 30px;
  text-align: right;
}

.grid-item-right{
    padding: 20px;
    font-size: 30px;
    text-align: left;
}

#findHelp{
    cursor: pointer;
    position: absolute;
    width: 400px;
    height: 100px;
    left: 600px;
    top: 500px;

    background: linear-gradient(207.47deg, rgba(175, 214, 101, 0.49) 5.07%, #1E9430 97.74%);
    border-radius: 20px;

    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */


    color: #FFFFFF;

    mix-blend-mode: normal;
}

#LoginLogo{
    width: 35px;
    height: 35px;
}

#customerCare{
    cursor: pointer;
    position: absolute;
    width: 1000px;
    height: 100px;
    left: 627px;
    top: 650px;

    font-style: italic;
    font-weight: normal;
    font-size: 28px;
    line-height: 75px;

    color: #FFFFFF;
}

#ExtraText{
    position: absolute;
    width: 1000px;
    height: 100px;
    left: 323px;
    top: 33px;

    font-weight: normal;
    font-size: 40px;
    line-height: 75px;

    color: #FFFFFF;  
}

#back{
    cursor: pointer;
    width: 35px;
    height: 35px;
}

#topBar{
    position: absolute;
    width: 90em;
    height: 8em;
    left: 100px;
    top: 50px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 36px;
}